<tr>
	<td><%= link_to (image_tag event.image(:medium)), event %></td>
	<td><%= event.title %></td>
	<td><%= event.description %></td>
	<td><%= event.user.name %></td>
	<td><%= link_to 'Show', event, class: "btn btn-success" %></td>
	<% if current_user == event.user %>
	<td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary" %></td>
	<td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
	<% end %>
</tr>