<div class="col-lg-4 col-md-6">
	<div class="well">
		<h3><%= event.title %></h3><br><br>
		<%= link_to (image_tag event.image(:medium)), event, class: "img-responsive"%><br><br>
		<%= event.description %><br><br>
		created by <%= event.user.name %>
		<br><br>
		<%= link_to 'Show', event, class: "btn btn-success" %>
		<% if current_user == event.user %>
		<%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary" %>
		<%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
		<% end %>
	</div>
</div>
